<?xml version="1.0" encoding="UTF-8"?>
<!-- Данный документ носит информационный характер. Необходим для удобства настройки кассы. -->
<ptkCommonSettings>
   <!--Последовательность печати отчетов при открытии смены.-->
   <reportOpenShift>
      <!--РАЗОВЫЙ ПРОБНЫЙ-->
      <reportType>TestPd</reportType>
      <!--ПРОБНАЯ СМЕННАЯ ВЕДОМОСТЬ-->
      <reportType>TestShiftShit</reportType>
   </reportOpenShift>
   <!--Последовательность печати отчетов при закрытии смены.-->
   <reportCloseShift>
      <!--ЛЬГОТНАЯ СМЕННАЯ ВЕДОМОСТЬ-->
      <reportType>DiscountedShiftShit</reportType>
      <!--СМЕННАЯ ВЕДОМОСТЬ-->
      <reportType>ShiftShit</reportType>
      <!--ВЕДОМОСТЬ ГАШЕНИЯ СМЕНЫ-->
      <reportType>SheetShiftBlanking</reportType>
   </reportCloseShift>
   <!--Последовательность печати отчетов при закрытии месяца.-->
   <reportCloseMonth>
      <!--ЛЬГОТНАЯ МЕСЯЧНАЯ ВЕДОМОСТЬ-->
      <reportType>DiscountedMonthlySheet</reportType>
      <!--МЕСЯЧНАЯ ВЕДОМОСТЬ-->
      <reportType>MonthlySheet</reportType>
      <!--ВЕДОМОСТЬ ГАШЕНИЯ МЕСЯЦА-->
      <reportType>SheetBlankingMonth</reportType>
      <!--МЕСЯЧНЫЙ ОТЧЁТ ПО ОПЕРАЦИЯМ POS-ТЕРМИНАЛА-->
      <reportType>BTMonthlySheet</reportType>
   </reportCloseMonth>
   <!--Максимальное время давности метки в часах.-->
   <maxTimeAgoMark>4</maxTimeAgoMark>
   <!--Обязательность печати отчёта месячного отчёта по операциям на БТ.-->
   <btMonthlySheetClosingMonthReq>true</btMonthlySheetClosingMonthReq>
   <!--Обязательность печати льготной месячной ведомости при закрытии месяца.-->
   <discountMonthShiftSheetClosingMonthReq>true</discountMonthShiftSheetClosingMonthReq>
   <!--Обязательность печати льготной сменной ведомости при закрытии смены.-->
   <discountShiftSheetClosingShiftReq>true</discountShiftSheetClosingShiftReq>
   <!--Обязательность печати пробной сменной ведомости при открытии смены.-->
   <discountShiftSheetOpeningShift>false</discountShiftSheetOpeningShift>
   <!--Обязательность печати месячной ведомости при закрытии месяца.-->
   <monthSheetClosingMonthReq>true</monthSheetClosingMonthReq>
   <!--Обязательность печати ведомости гашения месяца при закрытии месяца.-->
   <sheetBlankingMonthClosingMonthReq>true</sheetBlankingMonthClosingMonthReq>
   <!--Обязательность печати ведомости гашения смены при закрытии смены.-->
   <sheetBlankingShiftClosingShiftReq>true</sheetBlankingShiftClosingShiftReq>
   <!--Обязательность печати сменной ведомости при закрытии смены.-->
   <sheetShiftCloseShiftReq>true</sheetShiftCloseShiftReq>
   <!--Обязательность печати пробного ПД при открытии смены.-->
   <testPdPrintReq>true</testPdPrintReq>
   <!--Разрешать аннулирование ПД после истечения времени аннулирования.-->
   <enableAnnulateAfterTimeOver>true</enableAnnulateAfterTimeOver>
   <!--Время действия ПД на следующий день в часах.-->
   <durationOfPdNextDay>2</durationOfPdNextDay>
   <!--Код банка с которым работает БТ.-->
   <bankCode>1</bankCode>
   <!--Имя перевозчика для печати в заголовке чека-->
   <carrierName>АО "ЦЕНТРАЛЬНАЯ ППК"</carrierName>
   <!--Срок хранения данных в БД оформленных ПД в месяцах.-->
   <termStoragePd>13</termStoragePd>
   <!--Допустимый период изменения текущего времени кассиром-контролером в минутах.-->
   <timeChangesPeriod>5</timeChangesPeriod>
   <!--Окончание электронной регистрации до отправления поезда в часах.-->
   <timeElectronicRegistration>1</timeElectronicRegistration>
   <!--Список станций до которых можно продать билет-->
   <allowedStationsCodes>
      <code>2001060</code>
      <code>2000700</code>
      <code>2000155</code>
      <code>2001140</code>
      <code>2000245</code>
      <code>2000275</code>
      <code>2002910</code>
      <code>2002081</code>
      <code>2000685</code>
      <code>2000055</code>
      <code>2000570</code>
      <code>2001029</code>
      <code>2000510</code>
      <code>2002097</code>
      <code>2000550</code>
      <code>2001137</code>
      <code>2001052</code>
   </allowedStationsCodes>
   <!--Таймаут на отключение экрана-->
   <screenOffTimeout>300</screenOffTimeout>
   <!--Период опроса доступности Pos терминала после сбоев в секундах.-->
   <posTerminalCheckPeriod>5</posTerminalCheckPeriod>
   <!--Время автозакрытия окна после печати/записи ПД (в секундах)-->
   <autoCloseTime>5</autoCloseTime>
   <!--Использовать ли тестовые версии НСИ-->
   <selectDraftNsi>false</selectDraftNsi>
   <!--Логирование всех SQL запросов.-->
   <logFullSQL>true</logFullSQL>
   <!--Время до автоброкировки в секундах, по умолчанию 30м-->
   <autoBlockingTimeout>1800</autoBlockingTimeout>
   <!--Возможность автоматической блокировки ПТК, по умолчанию true-->
   <autoBlockingEnabled>false</autoBlockingEnabled>
   <!--Смещение Часового пояса от UTC, в миллисекундах (по умолчанию Москва +3ч = 10800000 mc)-->
   <timeZoneOffset>10800000</timeZoneOffset>
   <!--Игнорировать срок действия карты (нужно только для тестирования)-->
   <ignoreCardValidityPeriod>false</ignoreCardValidityPeriod>
   <!--Возможность оформления доплаты по банковской карте-->
   <extraPaymentWithCardAllowed>true</extraPaymentWithCardAllowed>
   <!--Возможность списания поездки-->
   <decrementTripAllowed>true</decrementTripAllowed>
   <!--Разрешена доплата к разовым льготным, безденежным ПД-->
   <extraSaleForPdWithExemptionAllowed>true</extraSaleForPdWithExemptionAllowed>
   <!--Срок действия талона ТППД с момента печати (в часах)-->
   <couponValidityTime>4</couponValidityTime>
   <!--Количество документов для включения отправки данных в ОФД-->
   <printerSendToOfdCountTrigger>10</printerSendToOfdCountTrigger>
   <!--Срок хранения документов в ФП для включения отправки данных в ОФД (в часах)-->
   <printerSendToOfdPeriodTrigger>24</printerSendToOfdPeriodTrigger>
   <!--Минимальная длина билетной ленты (в сантиметрах)-->
   <ticketTapeAttentionLength>25</ticketTapeAttentionLength>
</ptkCommonSettings>